<form asp-action="Index">
    <label>Full name</label>
    <input type="text" name="Name" placeholder="Nhap Full name">
    <input type="email" name="email" placeholder="Nhap Email"> 
    <input type="submit" value="Save"/> 
</form>
<h1>@ViewBag.xcv</h1>