<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
</head>

<body>
    <h2>Nhập các giá trị :</h2>
    <form asp-action="Index">
        Ho va ten: <input type="text" class="w3-input w3-blue w3-round w3-border-red" name="FullName" placeholder="HoTen" /><br>
        Luong co ban: <input type="text" class="w3-input w3-blue w3-round w3-border-red" name="LuongCB" placeholder="LuongCoBan" /><br>
        He so luong: <input type="text" class="w3-input w3-blue w3-round w3-border-red" name="HeSoLuong" placeholder="HeSoLuong" /><br>
        Phu cap: <input type="text" class="w3-input w3-blue w3-round w3-border-red" name="PhuCap" placeholder="PhuCap" /><br>
        <input type="submit" name="Tinh" value="Tinh" />
    </form>
    <h1>@ViewBag.thongbao</h1>
</body>

</html>