<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <!--2021050250 - Chu Văn Hiệp-->
    <h2>Nhap gia tri :</h2>
    <form asp-action="Index">
        <input type="text" name="PersonId" placeholder="PersonId" /><br>
        <input type="text" name="FullName" placeholder="FullName" /><br>
        <input type="submit" name="Send" value="Send" />
    </form>
    <h1>@ViewBag.thongbao</h1>
</body>

</html>